# Encoding categorical data

## Importing libraries

In [21]:
import pandas as pd
import numpy as np

## Loading the data and checking

In [22]:
df = pd.read_csv('data/expenses.csv', parse_dates=['date'])
df.head()

        date  expense_type payment_method  amount
0 2023-04-13  Outside Food    Net Banking   481.0
1 2023-04-13     Household    Credit Card  2000.0
2 2023-04-14  Outside Food    Net Banking   400.0
3 2023-04-14        Travel    Net Banking   560.0
4 2023-04-14     Household    Net Banking  2800.0

## Encoding the two categories

### Loading the libraries

In [23]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [24]:
columns = ['expense_type', 'payment_method']
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), columns)], remainder='passthrough')

df_transformed = ct.fit_transform(df)
print(df_transformed)

[[0.0 0.0 1.0 0.0 0.0 0.0 1.0 Timestamp('2023-04-13 00:00:00') 481.0]
 [1.0 0.0 0.0 0.0 0.0 1.0 0.0 Timestamp('2023-04-13 00:00:00') 2000.0]
 [0.0 0.0 1.0 0.0 0.0 0.0 1.0 Timestamp('2023-04-14 00:00:00') 400.0]
 [0.0 0.0 0.0 1.0 0.0 0.0 1.0 Timestamp('2023-04-14 00:00:00') 560.0]
 [1.0 0.0 0.0 0.0 0.0 0.0 1.0 Timestamp('2023-04-14 00:00:00') 2800.0]
 [1.0 0.0 0.0 0.0 1.0 0.0 0.0 Timestamp('2023-04-06 00:00:00') 600.0]
 [1.0 0.0 0.0 0.0 0.0 0.0 1.0 Timestamp('2023-04-06 00:00:00') 338.0]
 [0.0 0.0 0.0 1.0 0.0 0.0 1.0 Timestamp('2023-04-12 00:00:00') 300.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 Timestamp('2023-04-11 00:00:00') 90.0]
 [0.0 0.0 1.0 0.0 0.0 0.0 1.0 Timestamp('2023-04-08 00:00:00') 125.0]
 [0.0 0.0 1.0 0.0 0.0 0.0 1.0 Timestamp('2023-04-08 00:00:00') 90.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 Timestamp('2023-04-08 00:00:00') 1000.0]
 [1.0 0.0 0.0 0.0 0.0 0.0 1.0 Timestamp('2023-04-08 00:00:00') 200.0]
 [1.0 0.0 0.0 0.0 0.0 0.0 1.0 Timestamp('2023-04-09 00:00:00') 950.0]
 [1.0 0.0 0.0 0.0 1.0 0.0 0.0 Timestamp('2023-04-06 00:00:00') 600.0]
 [0.0 0.0 1.0 0.0 0.0 0.0 1.0 Timestamp('2023-04-03 00:00:00') 557.0]
 [0.0 0.0 0.0 1.0 1.0 0.0 0.0 Timestamp('2023-04-03 00:00:00') 260.0]
 [1.0 0.0 0.0 0.0 1.0 0.0 0.0 Timestamp('2023-04-06 00:00:00') 145.0]
 [0.0 0.0 0.0 1.0 1.0 0.0 0.0 Timestamp('2023-04-06 00:00:00') 52.0]
 [0.0 0.0 1.0 0.0 0.0 0.0 1.0 Timestamp('2023-04-07 00:00:00') 30.0]]