# Polynomial Regression

This is where I am learning about Polynomial regressions.

There is a database of Positions and their CTC. We are going to predict the salary of a person.

In [3]:
# These are some common libraries which are required to do any kind of data analysis 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# This function will help reading data from a CSV file
# It will return the data as a Panda Data frame
def load_data_from_csv(filePath, fileName):
    df = pd.read_csv(filePath + fileName)
    return df

## Loading CSV data

In [7]:
# This is where we are loading the data from a CSV file
df = load_data_from_csv('../data/', 'Position_Salaries.csv')
df.head(10)

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000